// css de base
* {
  font-family: $font1;
  color: $color_text_noir;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(to bottom, #487354, white);
  box-sizing: border-box;
}

// .macosfenetre img {
//   position: absolute;
//   width: 100% !important;
//   height: 420px;
//   object-fit: cover;
//   z-index: -1;
//   top: 960;
//   left: 0;
//   border-radius: 610px;
//   padding-top: 10px;
// }
