// css de base
* {
  font-family: $font1;
  color: $color_text_noir;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(to bottom, #487354, white);
  box-sizing: border-box;
}
