.competences {
  padding: 50px 10px;
  // background: rgb(221, 193, 193);
  background: linear-gradient(to top, #487354, rgba(0, 0, 0, 0.951));
  text-align: center;
  margin: 0 auto;

  .skills-grid {
    @include flex-center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    gap: 30px;
    justify-items: center;
    @include mediacompetences {
      max-width: 780px;
    }
    @include mobile {
      gap: 15px;
    }
  }

  .skill {
    width: 120px;
    height: 110px;
    border: wheat 6px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease,
      box-shadow 0.3s ease;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
    @include mobile {
      width: 120px;
      height: 110px;
    }
    i {
      font-size: 30px;
      color: #ffffff;
      margin-bottom: 10px;
      transition: color 0.3s ease;
      @include mobile {
        font-size: 24px;
      }
    }

    .ux-ui-text {
      font-size: 17px;
    }
    span {
      color: #f0f0f0;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    &:hover {
      transform: scale(1.1);
      background-color: black;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    }

    &:hover .fa-html5 {
      color: #e34f26;
    } // HTML (rouge)
    &:hover .fa-css3-alt {
      color: #264de4;
    } // CSS (bleu)
    &:hover .fa-sass {
      color: #cc6699;
    } // Sass (rose)
    &:hover .fa-js-square {
      color: #f0db4f;
    } // JavaScript (jaune)
    &:hover .fa-react {
      color: #61dafb;
    } // React (bleu clair)
    &:hover .fa-figma {
      color: #a259ff;
    } // Figma (violet)
    &:hover .fa-node-js {
      color: #68a063;
    } // Node.js (vert)
    &:hover .fa-paint-brush {
      color: #ff6347;
    } // UI/UX Design (orange)
    &:hover .fa-shopify {
      color: #96bf48;
    } // Shopify
    &:hover .fa-wordpress {
      color: #21759b;
    } // WordPress
    &:hover .fa-search {
      color: #ffa500;
    } // SEO

    @include mobile {
      .fa-html5 {
        color: #e34f26;
      } // HTML (rouge)
      .fa-css3-alt {
        color: #264de4;
      } // CSS (bleu)
      .fa-sass {
        color: #cc6699;
      } // Sass (rose)
      .fa-js-square {
        color: #f0db4f;
      } // JavaScript (jaune)
      .fa-react {
        color: #61dafb;
      } // React (bleu clair)
      .fa-figma {
        color: #a259ff;
      } // Figma (violet)
      .fa-node-js {
        color: #68a063;
      } // Node.js (vert)
      .fa-paint-brush {
        color: #ff6347;
      } // UI/UX Design (orange)
      .fa-shopify {
        color: #96bf48;
      } // Shopify
      .fa-wordpress {
        color: #21759b;
      } // WordPress
      .fa-search {
        color: #ffa500;
      } // SEO
    }
  }
  // Ajouter la barre de progression
  .progress-bar-container {
    width: 100%;
    background-color: #555;
    border-radius: 10px;
    margin-top: 20px;
    height: 22px;
    overflow: hidden;
    position: relative;
  }

  .progress-bar {
    height: 100%;
    transition: width 0.4s ease-in-out;
    border-radius: 10px;
  }

  // Personnaliser chaque barre selon la compétence
  .html .progress-bar {
    background-color: #e34f26;
  }
  .css .progress-bar {
    background-color: #264de4;
  }
  .scss .progress-bar {
    background-color: #cc6699;
  }
  .javascript .progress-bar {
    background-color: #f0db4f;
  }
  .react .progress-bar {
    background-color: #61dafb;
  }
  .figma .progress-bar {
    background-color: #a259ff;
  }
  .nodejs .progress-bar {
    background-color: #68a063;
  }
  .ux-ui .progress-bar {
    background-color: #ff6347;
  }
  .shopify .progress-bar {
    background-color: #96bf48;
  }
  .wordpress .progress-bar {
    background-color: #21759b;
  }
  .seo .progress-bar {
    background-color: #ffa500;
  } // Orange pour SEO

  // Affichage du texte pourcentage à l'intérieur de la barre
  .progress-bar-container {
    position: relative;
    text-align: center;
  }

  .progress-bar-container::after {
    content: attr(data-progress) "%"; // gestions facile de la barre de progression via le html
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    color: #fff;
    font-weight: bold;
    margin-top: 3px;
  }
  .skill .progress-bar {
    animation: fillProgressBar 5s forwards;
  }
}
