.intro__saber {
  border: 6px solid wheat;
  background: linear-gradient(to bottom left, #487354, rgba(0, 0, 0, 0.951));
  margin: 40px auto;
  width: fit-content;
  height: 30px;
  padding: 20px 40px;
  //  border: 3px solid red;
  border-radius: 30px;
  box-shadow: 0px 7px 29px 4px rgba(0, 0, 0, 0.25);
  @include tablet {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    padding-right: 75px;
  }
  @include mobile {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 20px 20px;
    animation: myAnim 2s ease 0s 1 normal forwards;
    //margin-bottom: 70px;
  }
  &__title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    @include tablet {
      width: 100%;
      text-align: center;
    }
    @include mobile {
      // animation: appear1 1.5s ease 0s 1 normal forwards;
      position: relative;
      gap: 25px;
      width: 265px;
    }
    h2,
    h3 {
      font-size: 32px;
      font-family: $font1;
      font-weight: 300;
      color: white;
      @include mobile {
        font-size: 25px;
        font-weight: 500;
      }
      span {
        // color: #ffc8c8;
        color: wheat;
        font-size: 80px;
        top: 215px;
        position: absolute;
        @include tablet {
          top: 245px;
        }
        @include mobile {
          top: -47px;
        }
      }
      .eclamationspan {
        color: wheat;
        font-size: 60px;
        top: 235px;
        position: absolute;
        margin-left: 4px;
        @include tablet {
          top: 265px;
          margin-left: 8px;
        }
        @include mobile {
        }
      }
    }
    .intro__saber__title__disable {
      @include mobile {
        display: none;
      }
    }
  }
}
