// ----------------------------------------------
// ----------------------------------------------

.textebefore {
  color: #ffc8c8;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}
.textebefore:before {
  content: "HTML";
  animation: animate infinite 5s;
}
@keyframes animate {
  0% {
    content: "HTML";
  }
  10% {
    content: "HTML";
  }
  20% {
    content: "CSS";
  }
  40% {
    content: "Javascript";
  }
  60% {
    content: "Nodejs";
  }
  80% {
    content: "Reactjs";
  }
  100% {
    content: "Figma";
  }
}

// ----------------------------------------------
// ----------------------------------------------
@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(48px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(26px);
    // background: #ffc8c8;
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(13px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(6.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(4px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
// ----------------------------------------------
// ----------------------------------------------
@keyframes myAnim2 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
// ----------------------------------------------
// ----------------------------------------------
@keyframes appear1 {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} // ----------------------------------------------
