@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Varela&display=swap");

$main-color: #ff6060;
$second-color: #f6f6f6;
$footer-color: black;
$black-color: black;
$text_white: white;
$color_text_noir: #101010;

$font1: "Lexend";
$font2: "Varela";
