@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Varela&display=swap");

$main-color: #ff6060;
$second-color: #f6f6f6;
$footer-color: black;
$black-color: black;
$text_white: white;

$font1: "Lexend";
$font2: "Varela";

// TOUTES LES VARIABLES DU SITE ICI
$color_bg_main: #ffffff;
$color_text_noir: #101010;
$color_text_grey: #353535;
$color_text_white: #ffffff;
$color_text_green: #008766;
$color_bg_grey: #eaeaea;
$color_bg_lightGrey: #f6f6f6;
$color_bg_GreyIcon: #7e7e7e;
$color_bg_Purple: #9256dc;
$color_bg_White: #ffffff;
$color_bg_Green: #99e2d0;
$color_bg_Black: #353535;
$color_bg_White: #ffffff;
$color_button_top: #ff79da;
$color_button_bottom: #9356dc;
