@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Varela&display=swap");
* {
  font-family: "Lexend";
  color: #101010;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(to bottom, #487354, white);
  box-sizing: border-box;
}

header {
  display: flex;
  background: linear-gradient(to bottom left, #487354, rgba(0, 0, 0, 0.951));
  height: 150px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0px 7px 29px 4px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}
@media (max-width: 767px) {
  header {
    width: 95%;
    height: 120px;
  }
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: white;
  font-family: "Lexend";
  font-size: 50px;
  font-weight: 400;
  padding-left: 90px;
}
@media (max-width: 767px) {
  header h1 {
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 400;
  }
}
header .dotrose {
  color: wheat;
  font-size: 100px;
  padding-bottom: 34px;
}

.intro__saber {
  border: 6px solid wheat;
  background: linear-gradient(to bottom left, #487354, rgba(0, 0, 0, 0.951));
  margin: 40px auto;
  width: fit-content;
  height: 30px;
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 0px 7px 29px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .intro__saber {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
    padding-right: 75px;
  }
}
@media (max-width: 767px) {
  .intro__saber {
    width: fit-content;
    height: fit-content;
  }
}
.intro__saber__title {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .intro__saber__title {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .intro__saber__title {
    position: relative;
    gap: 30px;
  }
}
.intro__saber__title h2,
.intro__saber__title h3 {
  font-size: 32px;
  font-family: "Lexend";
  font-weight: 300;
  color: white;
}
.intro__saber__title h2 span,
.intro__saber__title h3 span {
  color: wheat;
  font-size: 80px;
  top: 215px;
  position: absolute;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .intro__saber__title h2 span,
  .intro__saber__title h3 span {
    top: 245px;
  }
}
@media (max-width: 767px) {
  .intro__saber__title h2 span,
  .intro__saber__title h3 span {
    top: -39px;
  }
}
.intro__saber__title h2 .eclamationspan,
.intro__saber__title h3 .eclamationspan {
  color: wheat;
  font-size: 60px;
  top: 235px;
  position: absolute;
  margin-left: 4px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .intro__saber__title h2 .eclamationspan,
  .intro__saber__title h3 .eclamationspan {
    top: 265px;
    margin-left: 8px;
  }
}
@media (max-width: 767px) {
  .intro__saber__title .intro__saber__title__disable {
    display: none;
  }
}

Footer {
  display: flex;
  background: linear-gradient(to top left, black, #487354);
  height: 150px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0px 7px 29px 4px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}
Footer h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: white;
  font-family: "Lexend";
  font-size: 50px;
  font-weight: 400;
  padding-left: 90px;
}
Footer span {
  color: wheat;
  font-size: 100px;
  padding-bottom: 34px;
}

.textebefore {
  color: #ffc8c8;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.textebefore:before {
  content: "HTML";
  animation: animate infinite 5s;
}

@keyframes animate {
  0% {
    content: "HTML";
  }
  10% {
    content: "HTML";
  }
  20% {
    content: "CSS";
  }
  40% {
    content: "Javascript";
  }
  60% {
    content: "Nodejs";
  }
  80% {
    content: "Reactjs";
  }
  100% {
    content: "Figma";
  }
}
.white {
  color: white;
}

.yellow {
  color: #e1ca72;
}

.green {
  color: #74b087;
}

.purple {
  color: #9f8198;
}

.brown {
  color: #a88038;
}

.blue {
  color: #7a99ad;
}

.transparent {
  color: transparent;
}

/*---------------------------------------------------------------*/
.design__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding: 20px 1px;
  background: linear-gradient(to bottom left, #487354, rgba(0, 0, 0, 0.951));
  width: 90%;
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 153px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__container {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .design__container {
    width: 90%;
  }
}
.design__container .design__main {
  display: flex;
  background-color: rgb(230, 239, 222);
  padding: 20px;
  width: 95%;
  border-radius: 25px;
  /*---------------------------------------------------------------*/
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__container .design__main {
    flex-direction: column;
    gap: 60px;
    width: 85%;
  }
}
@media (max-width: 767px) {
  .design__container .design__main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}
.design__container .design__main__left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
@media (max-width: 767px) {
  .design__container .design__main__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__container .design__main__left {
    width: 100%;
  }
}
.design__container .design__main__left__bar {
  border: solid 7px #487354;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 80px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__container .design__main__left__bar {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .design__container .design__main__left__bar {
    margin-top: 0px;
    border: solid 5px #487354;
    width: 4rem;
  }
}
.design__container .design__main__left__bar_1 {
  border: solid 7px #487354;
  width: 5rem;
  position: absolute;
  bottom: 0;
  right: 20;
  margin-bottom: 80px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__container .design__main__left__bar_1 {
    margin-bottom: 0px;
    right: 0;
  }
}
@media (max-width: 767px) {
  .design__container .design__main__left__bar_1 {
    margin-bottom: 0px;
    border: solid 5px #487354;
    width: 4rem;
    right: 0;
  }
}
.design__container .design__main__left__texte {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 767px) {
  .design__container .design__main__left__texte {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__container .design__main__left__texte {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.design__container .design__main__left__texte h4 {
  margin-top: 50px;
  font-size: 60px;
  font-weight: 900;
}
@media (max-width: 767px) {
  .design__container .design__main__left__texte h4 {
    text-align: center;
    width: 320px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 900;
  }
}
@media (min-width: 1024px) and (max-width: 1370px) {
  .design__container .design__main__left__texte h4 {
    font-size: 60px;
    font-weight: 900;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__container .design__main__left__texte h4 {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 900;
  }
}
.design__container .design__main__left__texte p {
  margin-bottom: 50px;
  font-size: 90px;
  font-weight: 900;
}
@media (max-width: 767px) {
  .design__container .design__main__left__texte p {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
  }
}
@media (min-width: 1024px) and (max-width: 1370px) {
  .design__container .design__main__left__texte p {
    font-size: 60px;
    font-weight: 900;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__container .design__main__left__texte p {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 900;
  }
}

.design__main__droite {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .design__main__droite {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__main__droite {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.design__main__droite__0 {
  border: wheat 6px solid;
  width: 80%;
  min-width: 440px;
  height: 450px;
  background: linear-gradient(to bottom right, #487354, rgba(0, 0, 0, 0.951));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 100px;
}
@media (max-width: 767px) {
  .design__main__droite__0 {
    min-width: 340px;
  }
}
@media (min-width: 1024px) and (max-width: 1370px) {
  .design__main__droite__0 {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .design__main__droite__0 {
    margin-left: 0px;
  }
}
.design__main__droite__0__1 {
  width: 300px;
  height: 110px;
  border: #7a99ad 2px solid;
  border-radius: 6px;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.951));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  margin-right: 60px;
  margin-top: -30px;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) and (max-width: 1370px) {
  .design__main__droite__0__1 {
    margin-right: 92px;
  }
}
.design__main__droite__0__1:hover {
  background: linear-gradient(to top, #7a99ad, rgb(0, 0, 0));
}
.design__main__droite__0__2 {
  width: 300px;
  height: 110px;
  border: red 2px solid;
  border-radius: 6px;
  background-color: #1d1e22;
  background-color: transparent;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  margin-right: -50px;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) and (max-width: 1370px) {
  .design__main__droite__0__2 {
    margin-right: -20px;
  }
}
.design__main__droite__0__2:hover {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.496), rgb(0, 0, 0));
}
.design__main__droite__0__3 {
  width: 300px;
  height: 110px;
  border: orange 2px solid;
  border-radius: 6px;
  background-color: #1d1e22;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  margin-right: 80px;
  margin-bottom: -30px;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) and (max-width: 1370px) {
  .design__main__droite__0__3 {
    margin-right: 110px;
  }
}
.design__main__droite__0__3:hover {
  background: linear-gradient(to bottom, orange, rgb(0, 0, 0));
}

.design__main__droite__0__head {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 14px;
  font-family: Work Sans, sans-serif;
  font-weight: 700;
  letter-spacing: 1.57px;
}

.design__main__droite__0__texte {
  padding: 0.5rem;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  line-height: 1.4;
}

.design__main__droite__mobile {
  display: none;
}
@media (max-width: 767px) {
  .design__main__droite__mobile {
    display: block;
  }
}